# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
django_env/
.anaconda_backup/

# Django stuff
*.log
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
